* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        color: #FFFFFF;
}

ul {
    list-style: none;
}

.panel {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 1200px;
}

.panel__excursins {
    padding: 1.25rem;
        width: 100%;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excursions__item {
    padding: 1.25rem;
    color: #000000;
}

.excursions__item>header {
    margin-bottom: 1.25rem;
}

.excursions__item>header>h2 {
    margin-bottom: .625rem;
}

.excursions__item>header>p {
    text-align: justify;
}

.panel__form {
    background-image: linear-gradient(to right top, #051937, #00446a, #00748d, #00a595, #55d386);
    padding: 20px;
    width: 100%;
        margin-bottom: 20px;
    }
    
    .order>*:not(:last-child) {
        margin-bottom: .625rem;
    }
    
    .order>*:first-child {
        font-size: 1.85rem;
    }
    
    .order>*:first-child>span {
        color: #ffd819;
        font-weight: 700;
    }
    
    .order__field-input {
        margin-top: .625rem;
        width: 100%;
        height: 30px;
    }
    
    .excursions__form>*:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    
    .excursions__field-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .excursions__field-input {
        width: 50%;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 4px;
    }
    
    .excursions__field-input--submit {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
        background: #ffd819;
    }
    
    .excursions__field-input--submit:hover {
        background-color: #ffe566;
    }
    
    .excursions__field-input--submit:active {
        top: 2px;
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    .summary__item>*:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .625rem;
    }
    
    .summary__btn-remove {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .excursions__item--prototype,
    .summary__item--prototype {
        display: block;
    }
    
    @media (min-width: 768px) {
        body {
            display: flex;
            align-items: center;
        }
    
        .panel {
            flex-direction: row;
        }
    
        .panel__excursions,
        .panel__form {
            width: 50%;
        }
    
        .panel__form {
            margin: 0;
        }
    }
    
    @media (min-width: 1024px) {
        .panel__excursions {
            width: 70%;
        }
    
        .panel__form {
            width: 30%;
        }
    
        .excursions__item {
            width: 33.333333%;
            max-width: 33.333333%
        }
}